title: Lorena Jiménez Sánchez
description: Scientific illustration and visual design
url: "https://lorenajs.github.io"

remote_theme: "mmistakes/minimal-mistakes"

plugins:
  - jekyll-feed
  - jekyll-seo-tag

markdown: kramdown
