title: Lorena Jiménez Sánchez
description: Scientific illustration and visual design
url: "https://lorenajs.github.io"

theme: minimal-mistakes-jekyll

plugins:
  - jekyll-feed
  - jekyll-seo-tag

markdown: kramdown
